* {
    margin: 0px;
    padding: 0px;
    font-family: "Raleway", sans-serif;
}
.App {
    background-image: url("./img/oliver-pecker-364272-unsplash\ \(1\).jpg");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 60%;

    height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    overflow: hidden;
    padding: 10px 0px;
    position: fixed;
    transition: 0.5s;
    top: 0;
    z-index: 99;
}

.title {
    margin-left: 100px;
    color: rgb(224, 191, 3);
    font-family: "Lobster", cursive;
}

.about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 100px;
    width: 450px;
    color: white;
}

.greeting {
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    padding: 30px;
    padding-top: 40vh;
}

.tell-more {
    font-size: 1.5rem;
    color: white;
    background: rgb(224, 191, 3);
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
}

.size {
    font-size: 3rem;
    font-weight: 300;
}
.size2 {
    font-size: 4.7rem;
}

span:hover {
    color: rgb(224, 191, 3);
}
.bars {
    display: none;
    transition: 0.65s;
}
.page2 {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.drop-down {
    height: 300px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 10px;
    background:  rgba(80, 80, 80, 0.95);
    padding-top: 10vh;
    position: fixed;
    width: 100%;
    transition: .55s;
    margin-top: calc(-300px - 10vh);
}
.down {
    margin-top: 0px;
}

@media (max-width: 1255px) {
    .header {
        background: rgba(80, 80, 80, 0.863);
    }
}

@media (max-width: 960px) {
    .about {
        display: none;
    }
    .bars {
        display: block;
        margin-right: 100px;
        color: white;
        background: rgb(224, 191, 3);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 9px;
        width: 60px;
        border-radius: 8px;
    }
    .greeting {
        text-align: center;
    }
    .size2 {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media (max-width: 725px) {
    .App {
        background-size: cover;
        background-position: 50% 60%;
        height: 80vh;
        width: 100vw;
    }
    .size2 {
        font-size: 3rem;
    }
    .size {
        font-size: 1.8rem;
    }
    .title {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 600px){
    .header {
        
    }
    .title {
        margin-left: 30px
    }
    .bars {
        margin-right: 30px;
    }
    .size2 {
        margin-left: 10px;
        margin-right: 10px;
    }
    .greeting {
        padding-top: 30vh;

    }
}